<div class="min-h-screen bg-linear-to-br from-[#0f172a] via-[#1e293b] to-[#7c2d12] text-white">
  <!-- Header -->
  <div class="flex justify-between p-4 border-b border-white/10">
    <h1 class="text-orange-400 text-2xl font-bold">NeoBank360 Admin</h1>
    <button (click)="logout()" class="btn-outline">Logout</button>
  </div>

  <div class="p-6">
    <!-- TABLE -->
    <table class="w-full border border-white/10 text-left">
      <thead class="bg-white/10">
        <tr>
          <th class="p-2">ID</th>
          <th class="p-2">Username</th>
          <th class="p-2">Account Type</th>
          <th class="p-2">Balance</th>
          <th class="p-2">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let u of users" class="border-t border-white/10">
          <td class="p-2">{{ u.id }}</td>
          <td class="p-2">{{ u.username }}</td>
          <td class="p-2">{{ u.accountType }}</td>
          <td class="p-2">₹ {{ u.balance }}</td>

          <td class="p-2 flex gap-2">
            <button (click)="startEdit(u)" class="btn-outline">Edit</button>

            <button (click)="delete(u.id)" class="text-red-400">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- EDIT FORM -->
    <div *ngIf="editUser" class="mt-6 card">
      <h2 class="text-xl mb-4">Edit User</h2>

      <input [(ngModel)]="editUser.firstName" class="input-dark mb-2" placeholder="First Name" />
      <input [(ngModel)]="editUser.lastName" class="input-dark mb-2" placeholder="Last Name" />
      <input
        [(ngModel)]="editUser.balance"
        type="number"
        class="input-dark mb-2"
        placeholder="Balance"
      />

      <button (click)="saveEdit()" class="btn-gradient">Save</button>
    </div>
  </div>
</div>
